@import 'tailwindcss';

/* @import './inter.css'; */
/* @theme {--font-sans: InterVariable, sans-serif;} */
@plugin "daisyui" {
    themes:
        light --default,
        dark --preferslight;
    root: ':root';
}

@layer base {
    h1.carousel-caption {
        /* Deine Wunschgröße dauerhaft – hier extrem groß als Beispiel */
        font-size: clamp(3rem, 8vw + 1rem, 11rem);
        line-height: 1.1;
        font-weight: 800;
      }
    ul {
        @apply list-inside list-disc;
    }
    ol {
        @apply list-inside list-decimal;
    }
    p {
        @apply mb-4;
    }
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
    h4 {
        @apply text-lg;
    }
    h5 {
        @apply text-base;
    }
    h6 {
        @apply text-sm;
    }
}
